
<div class="col-12">
 <div class="container">
   <div class="form-login box text-center">
     <h3 class="new">Sign Up Here:</h3><br>
   <%= render 'form', user: @user %>
   <%= link_to 'Back', users_path %>
 </div>
</div>
</div>
