<div class="show-info">
<div class="card text-center" style="width: 27rem;">
    <div class="card-body">
      <p class="card-title"><%=@user.name%>'s Profile</p>
      <p class="card-subtitle mb-2 text-muted"><strong>Email:</strong><%= @user.email %></p>
      <p class="card-subtitle mb-2 text-muted"> Number of Tasks: <%= @user.tasks.count %></p>

  </div>
</div>
